<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>tBYkD5jbDUtGKAd4NihZzNwZ6</string>
	<key>consumer_Secret</key>
	<string>RSWmHkdHjWey4rHufEfXWocMP4OGUq2S6auiDknedbfveCMEta</string>
</dict>
</plist>
